# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Temporary files
*.tmp
*.swp

# Build output (if any)
dist/
build/

# IDE specific files (example for VSCode)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
